.grey-header-nav {
  height: 50px;
  /* background-color: rgba(131, 139, 149, 0.81); */
  background-color: #82071b;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.grey-header-nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .grey-header-nav {
    height: 200px;
    box-sizing: border-box;
  }
  .grey-header-nav ul {
    flex-direction: column;
    box-sizing: border-box;
  }
}
.grey-header-nav a {
  /* display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  text-decoration: none;
  background: none;
  height: 100%;
  list-style: none;
  color: #fff; */
}
.grey-header-nav ul a:hover {
  /* background-color: #697481;
  color: #fff; */
}
