.add-to-basket-container {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}
.add-to-basket-input {
  display: block;
  min-width: 35px;
  max-width: 50px;
  min-height: 21px;
  height: 100%;
  outline: none;
  border: none;
  padding: 0.5px;
  padding-left: 5px;

  border-radius: 5px;
}
.add-to-basket-btn {
  display: block;
  min-width: 23px;
  max-height: 23.6px;
  background-color: #ab372e;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.1s ease;
}
.add-to-basket-btn:hover {
  transform: translateY(-1px);
}
.add-to-basket-btn:active {
  transform: translateY(0);
  transform: scale(0.95);
}
.add-to-basket-btn:hover.add-to-basket-btn svg {
  width: 23px;
  height: 23px;
}
.add-to-basket-btn svg {
  fill: #fff;
  width: 23px;
  height: 23px;
}
