# Logs
front/logs
front/*.log
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*
front/lerna-debug.log*

front/node_modules
front/dist
front/dist-ssr
front/*.local
front/.env
# Editor directories and files
front/.vscode/*
front/!.vscode/extensions.json
front/.idea
front/.DS_Store
front/*.suo
front/*.ntvs*
front/*.njsproj
front/*.sln
front/*.sw?

# Logs
back/logs
back/*.log
back/npm-debug.log*
back/yarn-debug.log*
back/yarn-error.log*
back/pnpm-debug.log*
back/lerna-debug.log*

back/node_modules
back/dist
back/dist-ssr
back/*.local
back/.env
# Editor directories and files
back/.vscode/*
back/!.vscode/extensions.json
back/.idea
back/.DS_Store
back/*.suo
back/*.ntvs*
back/*.njsproj
back/*.sln
back/*.sw?

.env