.main-content-section {
  margin-top: 50px;
  margin-bottom: 80px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}
.main-content-section-white-box {
  min-height: 333px;
  max-width: 1070px;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: #aab1bc 0px 2px 0px 0px;
}
.main-content-section-white-box h1 {
  color: #475a6e;
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: 300;
  margin-bottom: 15px;
}
