.table-for-types-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 14px;

  overflow: hidden;
}
.table-for-types-container-row {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
  border-bottom: 1px solid gray;
  padding: 5px 0;
}
.table-for-types-container-row.col-item-head {
  background: #ab372e;
}
.table-for-types-container-col-item.col-item-head-text {
  color: #fff;
  font-weight: 600;
}
.table-for-types-container-col {
  width: 100%;
  min-height: 15px;

  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;

  /* border-right: 1px solid black; */
}
.table-for-types-container-col-item {
  width: 100%;

  color: #000;

  font-weight: 400;
}
.add-to-basket-input {
  font-weight: 600;
  display: block;
  min-width: 35px;
  max-width: 50px;
  min-height: 21px;
  height: 100%;
  border: 1px solid gray;
  outline: none;
  padding: 0.5px;
  padding-left: 5px;
}
.table-for-types-container-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
