.yandex-container-map-container {
  display: block;
  width: 100%;
  height: 400px;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.yandex-header {
  width: 100%;
  text-align: center;
  height: 45px;
  background: #838b95d9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yandex-header p {
  color: #ececec;
  font-size: 18px;
}
.leaflet-container {
  width: 100%;
  height: 400px;
}
.yandex-button {
  position: absolute;
  display: flex;
  align-items: center;
  height: 24px;
  background-color: #fff;
  text-decoration: none;
  width: 212px;
  border-radius: 10px;
  gap: 5px;
  padding: 5px;
  color: #4d4d4d;
  left: 10px;
  bottom: 80px;
  z-index: 10;
}
.yandex-button:hover {
  color: black;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
}
.yandex-button-svg {
  height: 22px;
  width: 22px;
  color: #f43;
  fill: #f43;
}
