* {
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-size: 14px;
  color: #2b2b2b;
  /* outline: 1px solid black; */
}
body {
  background: #e5e9ec;
}
